{{/*
    SJMA Artist Page. This layout defines a view containing an opening quote
    and visual links to the various works in the section.

    Without any client-side JS, this page links to separate pages for each
    individual artwork. When JS is enabled, this content can be loaded
    in-place thanks to the HTML5 template API; all of the markup needed to
    display artist pages is present here inside `<template>` tags.
    
    This approach has the advantage of providing a streamlined experience to
    users on the web without getting in the way of SEO or PDF generation.

    *TODO* Right now searches (either within this site or via Google) that
    take the user directly to individual artist pages need to be intercepted
    to direct the user to the appropriate artist page instead. When this
    happens a state change needs to be triggered here to display the
    appropriate content.
*/}}

{{ define "main" }}

{{ $scratch := newScratch }}
{{ $artistPages :=  where (where .Site.Pages "Section" .Section) "Title" "ne" .Page.Title }}
{{ $firstPage := index $artistPages 0 }}
{{ $object := index $firstPage.Params.object 0 }}
{{ $scratch.Set "objectId" $object.id }}

{{ range where $.Site.Data.figures.figure_list "id" ( $scratch.Get "objectId" ) }}
{{ $scratch.Set "banner" .src }}
{{ end }}

{{ $banner := $scratch.Get "banner" }}

<div class="sjma-artist__print-banner is-print-only">
    <img src="{{ printf "/%s/%s" $.Site.Params.imageDir $banner  }}"/>
</div>

<div class='sjma-artist js-sjma-artist {{ partial "page-class.html" . }}' id="main" role="main">
    <!-- Visual artist-navigation grid -->
    {{ partial "artist-navigation.html" . }}

    <!-- Page header -->
    {{ partial "artist-header.html" . }}

    <!-- Content section -->
    <section class="section quire-page__content" id="content">
        <!-- Page content -->
        {{ if .Content }}
        <div class="sjma-artist__container container">
            <div class="sjma-artist__content content">
                {{ .Content }}
            </div>

        </div>
        {{ end }}

    </section>

    <section class="section quire-page__content sjma-artist__subpage">
        <div class="sjma-artist__content container">
            <div 
                id="sjma-artist-outlet" 
                class="sjma-artist__content sjma-artist__subpage content"
                role="tabpanel"
            >
            </div>
        </div>

    </section>

    <section>
        <div class="container">
            {{ partial "artist-footer-buttons.html" . }}
        </div>
    </section>

    {{/* Template for each artist entry page. */}}
    {{ $currentPage := . }}
    {{ range where .Site.Pages "Section" .Section }}
    {{ if ne . $currentPage }}
    <template id='{{ .Title | urlize | printf "%s%s" "js-template-" }}'>
        <div aria-labelledby='{{ .Title | urlize | printf "%s%s" "js-link-" }}'>
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </div>
    </template>
    {{ end }}
    {{ end }}

</div>
{{ end }}