{{ define "main" }}
<div class='sjma-artist {{ partial "page-class.html" . }}' id="main" role="main">
  <!-- Page header -->
  {{ partial "page-header.html" . }}

  <!-- Content section -->
  <section class="section quire-page__content" id="content">
    <!-- Page content -->
    {{ if .Content }}
    <div class="container">
      <div class="content">
        {{ .Content }}
      </div>
    </div>
    {{ end }}


    <div class="container sjma-artist__grid">
      <div class="columns is-mobile is-multiline">
        {{ $currentPage := . }}
        {{ range where .Site.Pages "Section" .Section }}
        {{ if ne . $currentPage }}
        {{ partial "artist-image.html" . }}
        {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="container">
    {{ partial "footer-buttons.html" . }}
    </div>
  </section>
</div>
{{ end }}