{{/*
Cover page layout. This controls the home page of the publication.
*/}}
	
{{ define "main" }}

{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imageDir" "" }}
{{ end }}
	
<div class="{{ partial "page-class.html" . }} quire-cover" id="main" role="main">
	<section class="quire-cover__hero hero">
		<div class="quire-cover__hero-body hero-body has-text-centered">
			<div class="container is-fluid">
				{{ if .Params.image }}
				{{ $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") .Params.image }}
				<img src="{{ $imgPath }}" 
					class="quire-cover__title-image"
					alt="{{ .Site.Title }}" />
				{{ end }}

			{{ if .Site.Data.publication }}
				{{- $endPunctuation := findRE "[!|?]$" .Site.Data.publication.title -}}
				<h1 class="title">
					<span class="visually-hidden">{{ .Site.Data.publication.title | markdownify }}</span>
					{{- with .Site.Data.publication.subtitle -}}
					{{- if $endPunctuation }} {{ else }}<span class="visually-hidden">: </span>{{ end -}}
					<span class="subtitle">{{ . | markdownify }}</span>
					{{ end }}
				</h1>

				{{ with .Site.Data.publication.description.one_line }}
				<p class="reading-line">{{ . | markdownify }}</p>
				{{ end }}
			{{ else }}
				{{/* Fallback for when no publication.yml data is present */}}
				<h1 class="title">{{ .Site.Title }}</h1>
			{{ end }}
			</div>
		</div>
	</section>

	{{ if .Content }}
	<section class="section quire-page__content" id="content">
	<div class="container is-fluid">
		<div class="content">
		{{ .Content }}
		{{ partial "page-bibliography.html" . }}
		</div>
	</div>
	</section>
	{{ end }}

	{{ partial "footer-buttons.html" . }}
	{{ if eq $.Site.Params.pdf true }}
		{{ partial "pdf-title-pages.html" (dict "site" .Site) }}
	{{ end }}
</div>

{{ end }}
