{{ $scratch := newScratch }}
{{ $scratch.Set "title" .Title }}

{{ range .Params.object }}
{{ $scratch.Set "objectId" .id }}
{{ end }}

{{ range where $.Site.Data.figures.figure_list "id" ( $scratch.Get "objectId" ) }}
{{ $fullsize := .src  }}
{{ $thumbnail := replace .src "figures/" "thumbnails/" }}
{{ $scratch.Set "thumb" $thumbnail }}
{{ $scratch.Set "full" $fullsize }}
{{ end }}

<a id='{{ .Title | urlize | printf "%s%s" "js-link-" }}' class="js-sjma-artist-link" href="{{ .RelPermalink }}">
    <figure>
        <img src="/{{ $.Site.Params.imageDir }}/{{ $scratch.Get "full" }}?nf_resize=fit&h=640" alt="" loading="lazy">
        <h6 class="sjma-artist__grid-item__label">{{ .Title }}</h6>
    </figure>
</a>