{{ $scratch := newScratch }}
{{ $scratch.Set "title" .Title }}

{{ range .Params.object }}
{{ $scratch.Set "objectId" .id }}
{{ end }}

{{ range where $.Site.Data.figures.figure_list "id" ( $scratch.Get "objectId" ) }}
{{ $thumbnail := replace .src "figures/" "thumbnails/" }}
{{ $scratch.Set "figure" $thumbnail }}
{{ end }}

<div class="column is-one-quarter-mobile">
  <a id='{{ .Title | urlize | printf "%s%s" "js-link-" }}' class="js-sjma-artist-link" href="{{ .RelPermalink }}">
    <figure class="image is-square" style="pointer-events: none;">
        <img src="/{{ $.Site.Params.imageDir }}/{{ $scratch.Get "figure" }}" alt="" style="object-fit: cover;">
    </figure>
    <h6>
      {{ .Title }}
    </h6>
  </a>
</div>
